
@{
    ViewBag.Title = "EnterOTP";
}

<h2>EnterOTP</h2>

<input type="text" id="enterOTP" placeholder="Enter OTP" class="form-control" />
<a href="#" onclick="verifyOTP()" class="btn btn-primary">Okay</a>
<script>
    var verifyOTP = function () {
        var otp = $("#enterOTP").val();
        $.ajax({
            url: "/Test/VerifyOTP/",
            data: { otp: otp },
            type: "Post",
            success: function (data) {
                debugger
                if (data == true) {
                    alert("Verification Successful");
                    window.location = "/Test/Index"

                }
                else {
                    alert("Verification Failed");
                }
            }
        })
    }
</script>