@model MVCLearning.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Login</h2>
<div class="panel panel-body">


    <div class="col-md-3">
        @{Html.RenderAction("SideMenu", "Test"); }
    </div>

    <div class="col-md-9">

        <form id="myForm">
            <div class="form-group">
                <div class="col-md-12">
                    <h4>Login Here</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "EmailId" })
                    @Html.ValidationMessageFor(m => m.EmailId, "")

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "")

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary " onclick="LoginUser()">Submit</a>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    var LoginUser = function () {
        debugger
        var data = $("#myForm").serialize();
        if (!$("#myForm").valid()) {

            return false;
        }

        $.ajax({
            type: "Post",
            url: "/Test/LoginUser",
            data: data,
            success: function (response) {
                debugger
                if (response == "fail") {
                    window.location.href = "/Test/Login";
                }
                else if (response == "Admin") {
                    window.location.href = "/Test/Admin";

                }
                else {
                    window.location.href = "/Test/Index";

                }
            }
        })
    }
</script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


