@model IEnumerable<MVCLearning.Models.EmployeeViewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {

        <tr>
            <td>@item.Name</td>
            <td>@item.dname</td>
            <td>@item.Address</td>
            <td><a href="#"><i class="glyphicon glyphicon-eye-open"></i>View</a></td>

        </tr>
    }
}